h1, h2, h3, h4, h5, h6 {
  color: blue;
  font-family: sans-serif;
}

thead {
  font-weight: bold;
  color: darkred;
}

table {
  border: 2px solid blue;
  text-align: center;
}

ul, ol {
  list-style: square;
}

a:hover {
  color: turquoise;
  text-decoration: none;
}

blockquote {
  background-color: darkgrey;
  color: white;
}
